!!!5
html
    meta(chartset="utf-8")
    head
        title d3
        link(rel="stylesheet",href="css/bootstrap.css")
        style
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        link(rel="stylesheet",href="css/bootstrap-responsive.css")
    body
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand Project name
        .container
            h1 Bootstrap starter template
    script(src="js/jquery-1.7.2.min.js")
    script(src="js/bootstrap.js")
